.cart-modal {
    visibility: hidden;
    opacity: 0;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.cart-modal.active {
    visibility: visible;
    display: flex;
    opacity: 1;
    width: 100%;
    transition: opacity 0.5s ease, width 0.5s ease, right 0.5s ease;
}

#close-cart-button {
    border: none;
    background-color: inherit;
    color: var(--RoseGold);
    font-size: 2rem;
    cursor: pointer;
}

#close-cart-button:hover {
    color: var(--LiteRose);
    transition: 0.3s;
}

.cart-modal section {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.cart-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    overflow-y: scroll;
}

.cart-item-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    position: relative;
}

.cart-item-card:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--LiteRose);
}

.cart-item-info {
    display: flex;
    gap: 0.5rem;
}

.cart-item-card img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
}

.cart-item-card h3 {
    font-size: 0.8rem;
}

.delete-item-button {
    border: none;
    background-color: inherit;
    color: var(--RoseGold);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.delete-item-button:hover {
    border: none;
    background-color: var(--LiteRose);
    color: red;
    transition: 0.3s;
}

.cart-checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#checkout-button {
    color: white;
    background-color: var(--RoseGold);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

#checkout-button:hover {
    background-color: var(--LiteRose);
    transition: 0.3s;
}

/* computer screens */

@media (min-width: 1200px) {    
    .cart-modal.active {
        width: 33%;
    }
    
    #close-cart-button {
        font-size: 2.5rem;
    }
    
    .cart-title h2 {
        font-size: 2rem;
    }
    
    .cart-item-card {
        padding: 1rem 1.25rem;
    }
    
    .cart-item-card:not(:last-child)::after {
        height: 1px;
    }
    
    .cart-item-info {
        gap: 0.75rem;
    }
    
    .cart-item-card img {
        height: 60px;
        width: 60px;
    }
    
    .cart-item-card h3 {
        font-size: 0.9rem;
    }
}