.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}